*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.removeFromCart {
    
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 5px;
    border-radius: 5px;
    cursor: pointer;    
}


.add-to-cart {
    padding: 10px 15px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;
    font-size: 20px;
    color: rgb(105, 105, 105);
    height: 50px;
}
.product-title {

    width: 90%;
    height: 50px;
    font-size: 10px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
    padding: 20px;
}
.Products{
    margin-top: 20px;
    text-align: center;
}
#Cart{ 
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;

    text-align: center;
}
.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.counter button{
    width: 20px;
    height: 20px;
    border: none;
    background: black;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}


.cartItem{
    width: 90vw;
    height: auto;
   background: rgb(243, 243, 243);
    display: flex;
    padding: 10px;
    
   
}
.cartList{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 500px;
    height: 100%;
    align-items: center;
    gap: 10px;
    justify-content: center;


}
.cartItem img{
    width: 50%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 10px;

}
.productInfo{
    display: flex;
    width: 100%;
    
  
    
   
}
.titlePrice{
    width: 100%;
 
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 8px;

    font-weight: normal;
    margin-left: 10px;

}
.titlePrice p{
    font-size: 16px;
    font-weight: bold;
    color: rgb(80, 80, 80);
}
.imgCounter{
    display: flex;
    align-items: center;
    flex-direction: column;
   
  
    margin-left: auto;
}
.btnContainer{
   
    display: flex;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
}